/* NEXA FONT */
@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/nexa_free_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa_free_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@media screen and (max-width: 480px) {

	/* HEADINGS AND PARAGRAPH */
	html {
		font-size: 20px;
		font-family: georgia;
		overflow-x: hidden;
	}

	h1 {
		font-family: 'nexa_boldregular', sans-serif;
		font-size: 3rem;
		line-height: 3.6rem;
		margin-bottom: 2.7rem;
		color: #2f298f;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.3rem;
	}

	span {
		font-size: 0.9rem;
		line-height: 1.2rem;
		font-style: italic;
	}

	/* LAYOUT */
	.logo-header {
		margin-bottom: 1.8rem;
	}

	.main-container {
		background: #00F6C8 url(../images/img_pattern.png);
		padding: 2rem 1.8rem 2rem 1.8rem;
	}
}